<div class="headline-no-link it-link box-shadow it-headline">
  <div class="headline">
    <figure>
      <lite-youtube videoid="psBMnmz1G_Y" params="rel=0" posterloading="eager">
        <div class="uncodebar lite-youtube-fallback">
          <a href="https://www.youtube.com/watch?v=psBMnmz1G_Y&rel=0">
            <img
              style="width: 100%; height: auto;"
              slot="image"
              src="https://i.ytimg.com/vi/psBMnmz1G_Y/hqdefault.jpg"
              alt="Louie Christie stading at a microphone and lecturn. A screen behind him says 'Uncodebar 10'">
          </a>
        </div>
      </lite-youtube>
      <figcaption>
        <small>
          <a href="https://www.youtube.com/watch?v=lqHQ-7PWZfs&list=PLKhdPqmp9xC_1DkgQ9iB3qMhTUs51-jqt">Tech talk</a>
          @ <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg"
            alt="Google G logo"
            width="16.28"
            height="20.00"
            eleventy:widths="20"
            style="width: 16.28px; height: 20px"/> Google London, Uncodebar, 2024</small>
      </figcaption>
    </figure>
    <h2 class="developer">Professional<br>IT Consultant</h2>
  </div>
</div>
<div class="headline-link adventure-link box-shadow adventure-headline">
  <div class="headline">
    <figure class="image-container">
      <a href="adventure/"><img
          class="lqip surf"
          src="/images/louie_christie_surfs_perrenporth_2005_fl4t07_c_scale,w_1920.jpg"
          alt="A surfer on a wave. He's crouching, touching the wave with his hand as the wave breaks. The wave is chest high,
            blue-green color. There are brown-green hills in the background on the land."
          title="Louie Christie surfing photo"/>
      </a>
      <figcaption style="text-decoration: none;">
        <small>Louie Christie surfing Perranporth, Cornwall, 2005</small>
      </figcaption>
    </figure>
    <h2 class="adventure">
      <a href="adventure/"><img class="adventure-title" width="490" height="84" src="img/adventure.png" alt="Adventure"/>
      </a>
    </h2>
  </div>
</div>
<div class="headline-link comedy-link box-shadow comedy-headline">
  <div class="headline">
    <figure class="image-container">
      <a href="https://www.louiechristie.com/comedy/">
        <img
          class="lqip museum-of-comedy"
          src="/images/louie-Christie-stand-up-comedy-mc-museum-of-comedy-2023_fhd4dr_c_scale,w_1600.jpg"
          alt="Louie Christie performing stand-up comedy while audience laughs. On the wall behind there is a big painting of Tommy
            Cooper and smaller photos of various famous stand up comedians. Louie is pointing at the audience and seems to be having
            a good time. His hair is in a man bun. He's pointing at a woman in the audience and she has her hands crossed in front of
            her face as if she doesn't want to talk. Which is ironic, because it was about the only time in the whole night that she
            shut up."
          title="Louie performing stand-up comedy at the Museum of Comedy 2023 finally shuts up Katie in the front row."/>
      </a>
      <figcaption>
        <small>Stand-up comedy at the Museum Of Comedy, 2023</small>
      </figcaption>
    </figure>
    <a class="comedy-link" href="https://www.louiechristie.com/comedy/">
      <h2 class="comedy">Unprofessional<br>Comedian</h2>
    </a>
  </div>
</div>