---js
const title = "Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage"
const description = "Louie Christie - Adventurous | Tech Geek | Underground Comedian in my own head 😬 -> Homepage"

const eleventyNavigation = {
	key: "Home",
	order: 1
};

const layout = "/layouts/homepageLayout.njk"
---

<h1>Louie Christie</h1>
<p class="site-description">
  Adventurous, tech&nbsp;geek, underground&nbsp;comedian in my own head. 😬
</p>
<main class="home">
  <section class="grid">
    {% include 'homepage/headlines.njk' %}
    {% include 'homepage/quote.njk' %}
    {% include 'homepage/about.njk' %}
    {% include 'homepage/features.njk' %}
    {% include 'homepage/experiments.njk' %}
    {% include 'homepage/tech_talks.njk' %}
    {% include 'homepage/profiles.njk' %}
    {% include 'homepage/bottom_cta.njk' %}
    {% include 'homepage/contact.njk' %}
    {% include 'homepage/testimonials.njk' %}
  </section>
</main>