/* Utility */
.hidden {
  display: none;
}

.center {
  display: grid;
  align-items: center;
  justify-items: center;
}

:root {
  /* Colors */
  --main-color: #0e64b5;
  --button-color: #4299e1;
  --analogous-color: #0e11b5;
  --complementary-color: #e02828;
  --tertiary-color: #008400;
  --less-saturated-color: rgba(0, 0, 0, 0.75);
  --monochromacy-color: #3b3b3b;
  --black-color: #000000;

  --dark-grey-color: var(--monochromacy-color);
  --grey-color: var(--black-color);

  --link-color: var(--dark-grey-color);
  --link-visited-color: var(--dark-grey-color);
  --nav-color: var(--black-color);
  --heading-color: var(--monochromacy-color);

  --adventure-color: var(--complementary-color);
  --developer-color: var(--main-color);
  --comedy-color: var(--complementary-color);
  --comedy-less-saturated-color: rgba(224, 40, 40, 0.4)
    /* Breakpoints */
    --extra-small: 320px;
  --small: 490px;
  --medium: 1024px;
  --large: 1280px;
  --extra-large: 1920px;
}

* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

[aria-current="page"] {
  color: white;
}

html {
  display: flex;
  justify-content: center;
}

body {
  max-width: 490px;
}

@media all and (min-width: 1024px) {
  body {
    max-width: initial;
    width: 100%
  }
}

article {
  max-width: 490px;
}

.headline-link,
.headline-no-link {
  flex: 1;
  padding: 1rem 1rem 0 1rem;
}

.media-descripton {
  display: grid;
  justify-content: center;
  padding-top: 0.6rem;
  padding-bottom: 0.8rem;
  text-align: center;
}

.box-shadow {
  border: 3px solid var(--less-saturated-color);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.headline-link:hover,
.box-shadow-link:hover {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.padding {
  padding: 1rem 1rem 1rem 1rem;
}

@media all and (min-width: 490px) {
  :root {
    font-size: 1.2em;
  }
}

figure {
  margin: initial;
}

.page-container {
  max-width: var(--small);
}

.image-container {
  width: 100%;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.feature-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.feature-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.feature-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

figcaption {
  text-align: right;
  font-size: 0.9em;
}

figcaption p,
figcaption li {
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

a {
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-description {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--heading-color);
  text-align: center;
}

.site-description {
  margin: 1rem;
}

@media all and (min-width: 1024px) {
  .site-description {
    font-size: 1.4rem;
  }
}

h1 {
  font-weight: bold;
  letter-spacing: 1px;
  word-break: break-word;
}

@media all and (min-width: 490px) {
  h1 {
    font-size: 48px;
  }
}

@media all and (min-width: 1024px) {
  h1 {
    font-size: 64px;
  }
}

.grid {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr;
}

@media all and (min-width: 1024px) {
  .adventure-headline {
    grid-area: adventure-headline;
  }

  .it-headline {
    grid-area: it-headline;
  }

  .comedy-headline {
    grid-area: comedy-headline;
  }

  .apple-quote {
    grid-area: apple-quote;
  }

  .about {
    grid-area: about;
  }

  .vr-comedy-feature {
    grid-area: vr-comedy-feature;
  }

  .podcast-feature {
    grid-area: podcast-feature;
  }

  .meme-feature {
    grid-area: meme-feature;
  }

  .experiments {
    grid-area: experiments;
  }

  .tech-talks {
    grid-area: tech-talks;
  }

  .profiles {
    grid-area: profiles;
  }

  .profiles {
    grid-area: profiles;
  }

  .cta {
    grid-area: bottom_cta;
  }

  .contact {
    grid-area: contact;
  }

  .testimonials {
    grid-area: testimonials;
  }

  .grid {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "adventure-headline it-headline    comedy-headline"
      "apple-quote        apple-quote    apple-quote"
      "about              about          about"
      "vr-comedy-feature podcast-feature meme-feature"
      "experiments        experiments    tech-talks"
      "profiles           bottom_cta     contact"
      "testimonials       testimonials   testimonials"
  }
}

/* .headlines div {
  border: 1px dotted var(--grey-color);
} */

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

h2 {
  word-break: break-word;
  font-size: 1.5em;
  margin: .75em 0;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
  font-weight: bold;
}


.headline h2 {
  line-height: 1.4em;
}

.apple-quote {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.apple-quote cite {
  margin-top: 1rem;
}

h2.adventure {
  margin-bottom: 0.75em;
}

.adventure-title {
  height: 1.4em;
  max-width: 100%;
  object-fit: contain;
}

.adventure,
a.adventure-link,
a.adventure-link:visited {
  color: var(--adventure-color);
}

.developer,
a.developer-link,
a.developer-link:visited {
  color: var(--developer-color);
}

.comedy {
  color: var(--comedy-color);
}

a.comedy-link,
a.comedy-link:visited {
  color: var(--comedy-color);
  text-decoration-color: rgba(224, 40, 40, 0.4);
}

section {
  padding-top: 2rem;
  padding: 1rem;
}

aside {
  font-size: 0.9em;
}

.lead-line {
  font-weight: bold;
  color: var(--heading-color);
  margin-top: 0;
  padding-top: 0;
}

.label {
  text-transform: none;
}

.icon-list {
  padding-inline-start: 0;
}

.icon-list li {
  list-style-type: none;
  padding-left: 12px;
  line-height: 2.4rem;
  padding-bottom: 1rem;
}

.icon-list li:last-of-type {
  padding-bottom: 0;
}

.icon-link {
  text-decoration: none;
  /* padding-left: 0; */
}

.icon {
  margin-right: 12px;
  font-style: normal;
}

.icon svg,
.icon-image,
img[src$=".svg"].icon-image {
  position: relative;
  width: 24px;
  height: 24px;
  top: -4px;
}

.footer-icon,
img[src$=".svg"].footer-icon {
  width: 24px;
  height: 24px;
}

.colorized img {
  /* https://stackoverflow.com/a/72369382/3469524 */
  /* filter: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><defs><filter id="colorize" color-interpolation-filters="sRGB"><feColorMatrix type="matrix" values="0 0 0 0 0.0549019608 0 0 0 0 0.3921568627 0 0 0 0 0.7098039216 0 0 0 1 0"/></filter></defs></svg>#colorize'); */
  /* Workaround for Safari bug https://bugs.webkit.org/show_bug.cgi?id=104169 */
  filter: brightness(0) saturate(100%) invert(25%) sepia(75%) saturate(1591%) hue-rotate(190deg) brightness(101%) contrast(94%);
}

.telephone-number {
  font-family: 'Courier New', Courier, monospace;
}

.highlight {
  border-width: 0;
  margin: 1rem 10px 1rem 10px;
  border-radius: 10px;
  padding: 10px;
}

@media all and (min-width: 1024px) {
  .highlight {
    margin-bottom: 3rem;
  }
}

.blue-button {
  margin: 1rem;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--button-color);
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
  color: white;
  line-height: 26px;
}

.bio {
  line-height: 1.6;
}

@media all and (min-width: 1024px) {
  .bio {
    columns: 3;
  }
}

#root {
  margin: auto;
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  max-width: var(--medium);
}

.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe-container-4x3 {
  padding-top: 75%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

cite {
  line-height: 1.2em;
}

@media all and (min-width: 1024px) {
  .quote {
    font-size: 1.5em;
    line-height: 1.5em;
  }
}

cite {
  display: block;
  font-style: normal;
  text-align: right;
}

.meme-fig-caption {
  padding: 30px;
}

.light-relief {
  display: flex;
  justify-content: center;
}

.memes-box {
  padding: 10px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.link-box {
  text-decoration: none;
}

.link-box a {
  text-decoration: underline;
  color: var(--main-color);
}

.afterthought {
  font-size: 0.9em;
  margin-top: 0;
}

.alt-text {
  font-weight: normal;
}

.instagram-media {
  min-width: 200px !important;
}

.footnotes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footnotes {
  padding-bottom: 40px;
  max-width: var(--small);
}

.footnotes>h5 {
  text-align: center;
}

.footnote {
  font-size: 0.8em;
}

.headline-youtube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media all and (min-width: 490px) {
  .headline-youtube-container {
    min-height: 262px;
    /* @TODO remove this magic number */
  }
}

.lite-youtube-fallback {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

lite-youtube {
  border-radius: 10px;
}


.it-headline lite-youtube {
  aspect-ratio: 4 / 3;
}

.vr-comedy-feature lite-youtube,
.podcast-feature lite-youtube {
  --lite-youtube-aspect-ratio: 1 / 1;
}

footer,
.visitors-currently {
  font-size: 0.85em;
}

footer {
  /* border: 1px dotted red; */
  background-color: #1e2328;
  padding-bottom: 50px;
  width: 100%;
}

.dark-mode {
  color: white;
  color-scheme: dark;
}